In [1]:
__author__ = 'Mike Fitzpatrick <mfitzpatrick@noao.edu>, Alice Jacques <alice.jacques@noao.edu>, NOIRLab Astro Data Lab Team <datalab@noao.edu>'
__version__ = '20200922'
__keywords__ = ['query','vospace','mydb']

# How to use the Data Lab *Query Client* Service

### Table of contents
* [Summary](#summary)
* [Disclaimer & attribution](#attribution)
* [Imports & setup](#imports)
* [Review: General template for a simple query in SQL](#review)
* [Quick Example Query](#query)
* [Save to virtual storage VOSpace](#savevospace)
* [Save to remote database MyDB](#savemydb)
* [Import data into a MyDB table with QueryClient](#importmydb)
* [An asynchronous query example](#async)
* [Using profiles](#profiles)

<a class="anchor" id="summary"></a>
# Summary

This notebook documents how to query the Data Lab via the query client service. For full documentation see the <a href="https://datalab.noao.edu/docs/api/queryClient.html">API documentation</a>.


### The *queryClient* class


All queries are executed through the *queryClient.query()* method of the *queryClient* class. This takes as arguments:

| Argument | Description | Optional | Default  value | Supported Values |
|----------|-------------|----------|----------------|----------------|
| adql | The query to be submitted to the TAP service | No | None | string |
| sql | The query to be submitted to the DB directly | Yes | None | string |
| fmt | The requested format (if any) | Yes | ascii | ascii,csv,fits,hdf5,votable |
| out | The saved location (if any) | Yes | None | local filename, *vos://filename*, *mydb://tablename* |
| async_ | Indicates if the query is asynchronous | Yes | False | True/False |


All arguments are optional, except that one of *adql* or *sql* must be supplied.  The distinction between these two parameters is in how the *QueryClient* executes the query:  If *adql* is provided the query is sent to the TAP (Table Access Protocol) service, if *sql* is provided the query is sent directly to the database. The choice of execution depends on whether the query string contains ADQL-specific functions, or SQL constructs or DB extensions not understood by the TAP service.  For large queries there can also be a performance difference depending on the where/how the results are saved. 

#### Output formats
The results can be returned as whitespace delimited (*ascii*), CSV (*csv*), FITS object (*fits*), HDF5 (*hdf5*), or in VOTable format (*votable*). Note that if the results are saved to the user's database then the output format is ignored.

#### Saving results
If no save location is specified (no *out* param) then the results are returned directly. A save location beginning with the 'vos://' identifier indicates a location in the user's virtual storage to save the result. A save location beginning with the 'mydb://' identifier indicates the results are to be saved to a table in the user's remote database (MyDB). 

#### Asynchronous queries
Long queries should be run asynchronously and the service may refuse any synchronous query attempted if the projected query time is too long. A query can be submitted asynchronously by setting the *async_* parameter to *True*. A job id will then be returned.

    
The status of an asynchronous query can be checked with *queryClient.status(jobid)*. A return value of 'COMPLETED' indicates the query has terminated. A return value of 'ERROR' indicates that there was a problem with the query.    

The results of an asynchronous query (assuming that they were not saved to either the user's virtual storage or remote database) can be retrieved once the query has completed with *result = qc.query(adql=query,async_=True,wait=True,poll=1,verbose=1)*

### From Python code

The query client service can be called from Python code using the *datalab* module. This provides methods to access the various query client functions in the *QueryClient* subpackage. See the information [here](https://github.com/noaodatalab/datalab/blob/master/README.md).

Queries can be also run from the command line, e.g. on your local machine, using the datalab command line utility. Read about it in our GitHub repo [here](https://github.com/noaodatalab/datalab).

<a class="anchor" id="attribution"></a>
# Disclaimer & attribution
If you use this notebook for your published science, please acknowledge the following:

* Data Lab concept paper: Fitzpatrick et al., "The NOAO Data Laboratory: a conceptual overview", SPIE, 9149, 2014, http://dx.doi.org/10.1117/12.2057445

* Data Lab disclaimer: https://datalab.noao.edu/disclaimers.php

<a class="anchor" id="imports"></a>
# Imports and setup

This is the setup that is required to use the query client. The first thing to do is import the relevant Python modules.

In [2]:
# Standard lib
from getpass import getpass

# Data Lab
from dl import authClient as ac, queryClient as qc, storeClient as sc
from dl.helpers.utils import convert

# Authentication
Much of the functionality of Data Lab can be accessed without explicitly logging in (the service then uses an anonymous login). But some capacities, for instance saving the results of your queries to your virtual storage space, require a login (i.e. you will need a registered user account).

If you need to log in to Data Lab, issue this command, and respond according to the instructions:

In [3]:
#ac.login(input("Enter user name: (+ENTER) "),getpass("Enter password: (+ENTER) "))
ac.whoAmI()

'demo00'

<a class="anchor" id="review"></a>
# Review: General template for a simple query in SQL

### SQL is a way to describe to a database what you want from it
General template for a simple query written in SQL
```
SELECT something
FROM database.table
WHERE constraints
LIMIT 100
```
### Please see our intro notebook [JupyterPythonSQL101](https://github.com/noaodatalab/notebooks-latest/blob/master/01_GettingStartedWithDataLab/01_JupyterPythonSQL101.ipynb) for more info on this.

<a class="anchor" id="query"></a>
# A quick query

Let's say we want to fetch the g,r,i magnitudes from 10 objects in the SMASH DR1 data set, and retrieve the results as a CSV-formatted string:

In [4]:
query = 'SELECT gmag, rmag, imag FROM smash_dr1.object WHERE gmag<99 AND rmag<99 AND imag<99 LIMIT 10'
response = qc.query(sql = query, fmt = 'csv')
print (response)

gmag,rmag,imag
11.9154,11.7978,11.7892
11.9376,11.5092,11.3253
12.0699,11.6934,11.5577
12.0747,16.5371,17.0187
12.1244,11.8028,11.6169
12.1355,11.7621,11.5469
12.1841,11.8446,11.7191
12.2102,12.189,12.318
12.2275,11.7632,11.5062
12.25,11.8397,11.7034

<a class="anchor" id="savevospace"></a>
# Saving results to virtual storage VOSpace

VOSpace is a convenient storage space for users to save their work. It can store any data or file type.  

Now we want to save the results from the same query to our virtual storage space instead.  By putting the query in a try-block we are able to trap errors when executing the query.  Note that running this cell multiple times will trigger an error and we use the Storage Manager Client to remove the file once we are done.

In [5]:
try:
    response = qc.query (sql=query, fmt='csv', out='vos://examplemags.csv')
except Exception as e:
    # Handle any errors in the query.  By running this cell multiple times with the same
    # output file, or by using a bogus SQL statement, you can view various error messages.
    print (e.message)
else:
    if response is not None: 
        print (response)        
    else:
        print ("OK")

OK

Let's ensure the file was created in VOSpace:

In [6]:
sc.ls(name='vos://examplemags.csv')

'examplemags.csv'

Now let's remove the file we just created:

In [7]:
sc.rm (name='vos://examplemags.csv')

'OK'

Let's ensure the file was removed from VOSpace:

In [8]:
sc.rm (name='vos://examplemags.csv')

'A Node does not exist with the requested URI.'

<a class="anchor" id="savemydb"></a>
# Saving results to remote database MyDB
MyDB is a useful OS remote per-user relational database that can store data tables. Furthermore, the results of queries can be directly saved to MyDB, as we show in the following example:

In [9]:
try:
    response = qc.query (sql=query, fmt='csv', out='mydb://examplemags')
except Exception as e:
    # Handle any errors in the query.  By running this cell multiple times with the same
    # output file, or by using a bogus SQL statement, you can view various error messages.
    print (e.message)
else:
    if response is not None: 
        print (response)         
    else:
        print ("OK")

OK

Ensure the table has been saved to MyDB by calling the *mydb_list()* function:

In [10]:
print(qc.mydb_list(),"\n")

asv_string1,
bsv_string1,
csv_string1,
csv_vizier,
delme,
examplemags,created:2020-09-22 12:24:23 MST
foo2,
galspec_ls,
import1,
mags,
mags3,
objects,
pandas1,
test1a,
test2,
test3,
tsv_string1,
usno_test,
zxz,

Now let's drop the table from our MyDB.

In [11]:
qc.mydb_drop('examplemags')

'OK'

Ensure it has been removed by calling the *mydb_list()* function again:

In [12]:
print(qc.mydb_list(),"\n")

asv_string1,
bsv_string1,
csv_string1,
csv_vizier,
delme,
foo2,
galspec_ls,
import1,
mags,
mags3,
objects,
pandas1,
test1a,
test2,
test3,
tsv_string1,
usno_test,
zxz,

<a class="anchor" id="importmydb"></a>
# Import data into a MyDB table with QueryClient

Users can use the *mydb_import* function to import data saved on a local computer or import data from VOSpace into a MyDB data table. The data must be in the form of either a CSV file or Pandas Dataframe object in order to load it into MyDB.

First let's query some data from the Data Lab database and save it locally as a CSV file:

In [13]:
query = "select * from gaia_dr1.gaia_source limit 10"
qc.query (sql=query, fmt='csv', out='./gaiaresult.csv')

'OK'

Next we will use the *mydb_import* function to import the locally stored CSV file into a MyDB table:

In [14]:
qc.mydb_import('testresult','./gaiaresult.csv')

'OK'

Let's ensure it's there by calling the *mydb_list()* function:

In [15]:
print(qc.mydb_list(),"\n")

asv_string1,
bsv_string1,
csv_string1,
csv_vizier,
delme,
foo2,
galspec_ls,
import1,
mags,
mags3,
objects,
pandas1,
test1a,
test2,
test3,
testresult,created:2020-09-22 12:24:24 MST
tsv_string1,
usno_test,
zxz,

Similarly, we can use the *mydb_import* function to import data from VOSpace into a MyDB table:

In [16]:
qc.mydb_import('testresult2','vos://newmags.csv')

'OK'

In [17]:
print(qc.mydb_list(),"\n")

asv_string1,
bsv_string1,
csv_string1,
csv_vizier,
delme,
foo2,
galspec_ls,
import1,
mags,
mags3,
objects,
pandas1,
test1a,
test2,
test3,
testresult,created:2020-09-22 12:24:24 MST
testresult2,created:2020-09-22 12:24:25 MST
tsv_string1,
usno_test,
zxz,

Finally, for clean-up purposes, let's remove the two tables we just imported into MyDB by using the *mydb_drop* function:

In [18]:
qc.mydb_drop('testresult')
qc.mydb_drop('testresult2')

'OK'

And let's make sure the two tables were removed from MyDB by using the *mydb_list()* function:

In [19]:
print(qc.mydb_list(),"\n")

asv_string1,
bsv_string1,
csv_string1,
csv_vizier,
delme,
foo2,
galspec_ls,
import1,
mags,
mags3,
objects,
pandas1,
test1a,
test2,
test3,
tsv_string1,
usno_test,
zxz,

<a class="anchor" id="async"></a>
# An asynchronous query

We now want to run a longer query, say, counting the total number of objects in USNO-B1, and need to do it asynchronously. To do this we will submit the query as normal but with the *async_* argument indicated.

In [20]:
query = 'SELECT count(*) FROM usno.b1'

In [21]:
result = qc.query(sql=query,async_=True,wait=True,poll=5,verbose=1)

EXECUTING
Status = EXECUTING; elapsed time: 5, timeout in 295
EXECUTING
Status = EXECUTING; elapsed time: 10, timeout in 290
EXECUTING
Status = EXECUTING; elapsed time: 15, timeout in 285
EXECUTING
Status = EXECUTING; elapsed time: 20, timeout in 280
EXECUTING
Status = EXECUTING; elapsed time: 25, timeout in 275
EXECUTING
Status = EXECUTING; elapsed time: 30, timeout in 270
EXECUTING
Status = EXECUTING; elapsed time: 35, timeout in 265
EXECUTING
Status = EXECUTING; elapsed time: 40, timeout in 260
EXECUTING
Status = EXECUTING; elapsed time: 45, timeout in 255
EXECUTING
Status = EXECUTING; elapsed time: 50, timeout in 250
EXECUTING
Status = EXECUTING; elapsed time: 55, timeout in 245
EXECUTING
Status = EXECUTING; elapsed time: 60, timeout in 240
EXECUTING
Status = EXECUTING; elapsed time: 65, timeout in 235
EXECUTING
Status = EXECUTING; elapsed time: 70, timeout in 230
EXECUTING
Status = EXECUTING; elapsed time: 75, timeout in 225
EXECUTING
Status = EXECUTING; elapsed time: 80, timeout in 220
EXECUTING
Status = EXECUTING; elapsed time: 85, timeout in 215
EXECUTING
Status = EXECUTING; elapsed time: 90, timeout in 210
EXECUTING
Status = EXECUTING; elapsed time: 95, timeout in 205
EXECUTING
Status = EXECUTING; elapsed time: 100, timeout in 200
EXECUTING
Status = EXECUTING; elapsed time: 105, timeout in 195
EXECUTING
Status = EXECUTING; elapsed time: 110, timeout in 190
EXECUTING
Status = EXECUTING; elapsed time: 115, timeout in 185
EXECUTING
Status = EXECUTING; elapsed time: 120, timeout in 180
EXECUTING
Status = EXECUTING; elapsed time: 125, timeout in 175
EXECUTING
Status = EXECUTING; elapsed time: 130, timeout in 170
EXECUTING
Status = EXECUTING; elapsed time: 135, timeout in 165
EXECUTING
Status = EXECUTING; elapsed time: 140, timeout in 160
EXECUTING
Status = COMPLETED; elapsed time: 145, timeout in 155
Retrieving results

In [22]:
print(result)

COUNT
1045175762

### Please see our [JupyterPythonSQL101](https://github.com/noaodatalab/notebooks-latest/blob/master/01_GettingStartedWithDataLab/01_JupyterPythonSQL101.ipynb) notebook for more information on getting jobid, checking status until 'COMPLETED', and retrieving results with qc.results().

<a class="anchor" id="profiles"></a>
# Using profiles

Sometimes, different datasets (or versions of the same dataset) may reside on different backend servers and a user may want to work explicitly with a (typically older) dataset. In some cases these servers will be used only by developers or those with restricted access. Also, external TAP services are accessible from within Data Lab. In both use cases, the *qc.profiles()* function comes in handy.

The first thing to do is see what profiles are available:

In [23]:
profilelist = qc.list_profiles()
print (profilelist)

       GALEX-DR6   GALEX DR6 TAP service (29 Tables, TAP Only)
            GAVO   GAVO Data Center TAP service (149 Tables, TAP Only)
         HEASARC   HEASARC Xamin TAP Service (921 Tables, TAP Only)
            IRSA   IRSA TAP Service (478 Tables, TAP Only)
        SDSS-DR9   SDSS DR9 TAP service (92 Tables, TAP Only)
          SIMBAD   SIMBAD TAP service (47 Tables, TAP Only)
    STScI-RegTAP   STScI Registry TAP service (18 Tables, TAP Only)
          Vizier   TAP Vizier query engine (34381 Tables, TAP Only)

The thing to note in the output here are names such as '*GAVO*', '*SDSS-DR9*', etc;  **These profiles refer to external TAP services that can be accessed using the Query Manager interface.** Only a few are configured at the moment as we work on ways to automatically discover the >100 such services and provide useful listings of what they contain.

Let's see how we can query one and save the result to our Virtual Storage VOSpace:

In [24]:
qc.set_profile('GAVO')
query = 'SELECT top 10 * FROM sdssdr7.sources'
response = qc.query(adql = query, fmt = 'csv', out="vos://gavo_out.csv")
print (response)

OK

In this case we queried an SDSS DR7 table at the TAP service run by GAVO in Heidelberg.

Let's ensure it has been saved to VOSpace:

In [25]:
listing = sc.ls (name='vos://',format='long')
print (listing)

-rw-rw----  demo00       0  05 Sep 2018 10:56  a2_small.csv
-rw-rw----  demo00     202  06 Jun 2019 10:57  canaryfiletwo.csv
drw-rw----  demo00       0  04 Jun 2019 20:13  directory1
-rw-rw----  demo00       0  28 Nov 2018 15:07  fooa.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  gavo1.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  gavo26.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  gavo27.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  gavo28.csv
-rw-rw----  demo00       0  04 Jan 2019 11:49  gavo_out.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  lsdr2.csv
-rw-rw----  demo00    5888  05 Feb 2019 16:05  mags.csv
-rw-rw----  demo00       0  14 Sep 2018 22:10  newmags.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  newmags2.csv
drw-rw----  demo00       0  08 Apr 2018 22:19  public
drw-rw----  demo00       0  16 Feb 2018 23:24  results
-rw-rw----  demo00       0  08 Mar 2018 13:43  smash_mags.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  t2.dat
-rw-rw----  demo00       0  16 Feb 2018 23:24  t3.dat
drw-rw----  demo00       0  16 Feb 2018 23:24  tdir
drw-rw----  demo00       0  06 Jun 2019 11:02  temp
-rw-rw----  demo00       0  16 Feb 2018 23:24  test.dat
drw-rw----  demo00       0  16 Feb 2018 23:24  tmp
-rw-rw----  demo00       0  28 Sep 2018 12:17  xx.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  zgavo28.csv
-rw-rw----  demo00       0  16 Feb 2018 23:24  zmags.csv
-rw-rw----  demo00       0  09 Feb 2019 18:16  zz3.fits
-rw-rw----  demo00       0  28 Sep 2018 12:17  zzxx.csv

We can load the data set and e.g. convert to a Pandas data frame, like this:

In [26]:
data = sc.get(fr = 'vos://gavo_out.csv', to = '')
df = convert(data)
df

,objid,run,rerun,camcol,fieldid,obj,ra,dec,raerr,decerr,...,offsetra_i,offsetdec_i,i,err_i,epoch_i,offsetra_z,offsetdec_z,z,err_z,epoch_z
0,758883089249337439,6182,648,1,758883089249337344,95,331.786804,41.387806,0.000117,0.000113,...,-0.000064,0.000065,19.9785,0.092936,2006.41,4.666670e-07,-2.388890e-07,22.8831,2.086310,2006.41
1,758883089249337433,6182,648,1,758883089249337344,89,331.780687,41.389283,0.000035,0.000030,...,-0.000111,-0.000117,20.7977,0.097531,2006.41,-1.363640e-04,3.201940e-05,20.1367,0.202043,2006.41
2,758883089249337434,6182,648,1,758883089249337344,90,331.784089,41.389143,0.000033,0.000039,...,-0.000402,0.000139,21.4730,0.153602,2006.41,-3.638890e-07,3.530560e-06,20.9629,0.351456,2006.41
3,758883089249337438,6182,648,1,758883089249337344,94,331.793057,41.390098,0.000036,0.000035,...,0.000087,0.000052,24.3450,1.940740,2006.41,8.762780e-05,5.144440e-05,22.5182,1.635630,2006.41
4,758883089249339591,6182,648,1,758883089249337344,2247,331.801543,41.390926,0.000016,0.000015,...,0.000001,0.000011,20.6834,0.059923,2006.41,-5.135830e-05,-6.525000e-06,20.2915,0.163408,2006.41
5,758883089249337441,6182,648,1,758883089249337344,97,331.797318,41.390873,0.000070,0.000068,...,-0.000085,-0.000045,20.5697,0.132147,2006.41,5.000000e-07,-1.944440e-07,24.7128,0.622408,2006.41
6,758883089249337437,6182,648,1,758883089249337344,93,331.798537,41.392072,0.000033,0.000032,...,0.000005,-0.000006,20.1749,0.120331,2006.41,-4.353060e-05,3.612140e-04,24.0276,1.432990,2006.41
7,758883089249337419,6182,648,1,758883089249337344,75,331.792733,41.392017,0.000014,0.000013,...,-0.000004,-0.000005,15.8837,0.003775,2006.41,-4.591670e-06,-1.697220e-06,15.5639,0.005426,2006.41
8,758883089249337423,6182,648,1,758883089249337344,79,331.796938,41.394596,0.000015,0.000014,...,-0.000003,-0.000026,19.8373,0.032767,2006.41,-6.108330e-05,-6.421390e-05,19.3057,0.074711,2006.41
9,758883089249339570,6182,648,1,758883089249337344,2226,331.775376,41.392066,0.000018,0.000018,...,0.000031,0.000014,NaN,NaN,2006.41,-4.472220e-07,7.008330e-06,NaN,NaN,2006.41

We can get the details of a particular profile by including the name of the profile as an argument in the *list_profiles* method:

In [27]:
qc.list_profiles('default')

{'mydb_user': 'datalab',
 'description': 'db01',
 'tempfilePath': '/net/dl1/temp',
 'mydb_database': 'mydb',
 'accessURL': 'http://gp01.datalab.noao.edu:8080/ivoa-dal/tap',
 'resultStorePath': '/net/dl1/tap_data/resultStoreImpl',
 'database': 'tapdb',
 'type': 'hidden',
 'vosRoot': 'vos://datalab.noao!vospace',
 'mydb_port': 5433,
 'mydb_host': 'db02.datalab.noao.edu'}

So let's try a query against the default profile - let's get a list of all tables in the default database.  Note that in this case we are accessing the *information_schema* table of the database, this table is not included in the TAP service and so we **must** use the *sql* argument to talk directly to the database.

In [28]:
sql = 'SELECT table_catalog, table_schema, table_name FROM information_schema.tables'
try:
    qc.set_profile('default')
    default = qc.query(sql=sql)
except Exception as e:
    print (e.message)
else:
    print (default)

table_catalog,table_schema,table_name
tapdb,pg_catalog,pg_aggregate
tapdb,pg_catalog,pg_am
tapdb,pg_catalog,pg_amop
tapdb,pg_catalog,pg_amproc
tapdb,pg_catalog,pg_attrdef
tapdb,pg_catalog,pg_attribute
tapdb,pg_catalog,pg_auth_members
tapdb,pg_catalog,pg_authid
tapdb,pg_catalog,pg_available_extension_versions
tapdb,pg_catalog,pg_available_extensions
tapdb,pg_catalog,pg_cast
tapdb,pg_catalog,pg_class
tapdb,pg_catalog,pg_collation
tapdb,pg_catalog,pg_config
tapdb,pg_catalog,pg_constraint
tapdb,pg_catalog,pg_conversion
tapdb,pg_catalog,pg_cursors
tapdb,pg_catalog,pg_database
tapdb,pg_catalog,pg_db_role_setting
tapdb,pg_catalog,pg_default_acl
tapdb,pg_catalog,pg_depend
tapdb,pg_catalog,pg_description
tapdb,pg_catalog,pg_enum
tapdb,pg_catalog,pg_event_trigger
tapdb,pg_catalog,pg_extension
tapdb,pg_catalog,pg_file_settings
tapdb,pg_catalog,pg_foreign_data_wrapper
tapdb,pg_catalog,pg_foreign_server
tapdb,pg_catalog,pg_foreign_table
tapdb,pg_catalog,pg_group
tapdb,pg_catalog,pg_hba_file_rules
tapdb,pg_catalog,pg_index
tapdb,pg_catalog,pg_indexes
tapdb,pg_catalog,pg_inherits
tapdb,pg_catalog,pg_init_privs
tapdb,pg_catalog,pg_language
tapdb,pg_catalog,pg_largeobject
tapdb,pg_catalog,pg_largeobject_metadata
tapdb,pg_catalog,pg_locks
tapdb,pg_catalog,pg_matviews
tapdb,pg_catalog,pg_namespace
tapdb,pg_catalog,pg_opclass
tapdb,pg_catalog,pg_operator
tapdb,pg_catalog,pg_opfamily
tapdb,pg_catalog,pg_partitioned_table
tapdb,pg_catalog,pg_pltemplate
tapdb,pg_catalog,pg_policies
tapdb,pg_catalog,pg_policy
tapdb,pg_catalog,pg_prepared_statements
tapdb,pg_catalog,pg_prepared_xacts
tapdb,pg_catalog,pg_proc
tapdb,pg_catalog,pg_publication
tapdb,pg_catalog,pg_publication_rel
tapdb,pg_catalog,pg_publication_tables
tapdb,pg_catalog,pg_range
tapdb,pg_catalog,pg_replication_origin
tapdb,pg_catalog,pg_replication_origin_status
tapdb,pg_catalog,pg_replication_slots
tapdb,pg_catalog,pg_rewrite
tapdb,pg_catalog,pg_roles
tapdb,pg_catalog,pg_rules
tapdb,pg_catalog,pg_seclabel
tapdb,pg_catalog,pg_seclabels
tapdb,pg_catalog,pg_sequence
tapdb,pg_catalog,pg_sequences
tapdb,pg_catalog,pg_settings
tapdb,pg_catalog,pg_shadow
tapdb,pg_catalog,pg_shdepend
tapdb,pg_catalog,pg_shdescription
tapdb,pg_catalog,pg_shseclabel
tapdb,pg_catalog,pg_stat_activity
tapdb,pg_catalog,pg_stat_all_indexes
tapdb,pg_catalog,pg_stat_all_tables
tapdb,pg_catalog,pg_stat_archiver
tapdb,pg_catalog,pg_stat_bgwriter
tapdb,pg_catalog,pg_stat_database
tapdb,pg_catalog,pg_stat_database_conflicts
tapdb,pg_catalog,pg_stat_progress_vacuum
tapdb,pg_catalog,pg_stat_replication
tapdb,pg_catalog,pg_stat_ssl
tapdb,pg_catalog,pg_stat_subscription
tapdb,pg_catalog,pg_stat_sys_indexes
tapdb,pg_catalog,pg_stat_sys_tables
tapdb,pg_catalog,pg_stat_user_functions
tapdb,pg_catalog,pg_stat_user_indexes
tapdb,pg_catalog,pg_stat_user_tables
tapdb,pg_catalog,pg_stat_wal_receiver
tapdb,pg_catalog,pg_stat_xact_all_tables
tapdb,pg_catalog,pg_stat_xact_sys_tables
tapdb,pg_catalog,pg_stat_xact_user_functions
tapdb,pg_catalog,pg_stat_xact_user_tables
tapdb,pg_catalog,pg_statio_all_indexes
tapdb,pg_catalog,pg_statio_all_sequences
tapdb,pg_catalog,pg_statio_all_tables
tapdb,pg_catalog,pg_statio_sys_indexes
tapdb,pg_catalog,pg_statio_sys_sequences
tapdb,pg_catalog,pg_statio_sys_tables
tapdb,pg_catalog,pg_statio_user_indexes
tapdb,pg_catalog,pg_statio_user_sequences
tapdb,pg_catalog,pg_statio_user_tables
tapdb,pg_catalog,pg_statistic
tapdb,pg_catalog,pg_statistic_ext
tapdb,pg_catalog,pg_stats
tapdb,pg_catalog,pg_subscription
tapdb,pg_catalog,pg_subscription_rel
tapdb,pg_catalog,pg_tables
tapdb,pg_catalog,pg_tablespace
tapdb,pg_catalog,pg_timezone_abbrevs
tapdb,pg_catalog,pg_timezone_names
tapdb,pg_catalog,pg_transform
tapdb,pg_catalog,pg_trigger
tapdb,pg_catalog,pg_ts_config
tapdb,pg_catalog,pg_ts_config_map
tapdb,pg_catalog,pg_ts_dict
tapdb,pg_catalog,pg_ts_parser
tapdb,pg_catalog,pg_ts_template
tapdb,pg_catalog,pg_type
tapdb,pg_catalog,pg_user
tapdb,pg_catalog,pg_user_mapping
tapdb,pg_catalog,pg_user_mappings
tapdb,pg_catalog,pg_views
tapdb,public,db02counts
tapdb,public,delme
tapdb,public,dl_col_alerts
tapdb,public,dl_metric_alerts
tapdb,public,dl_schema_alerts
tapdb,public,dl_stats
tapdb,public,dl_stats_bak
tapdb,public,dl_stats_golden
tapdb,public,dl_stats_gp04
tapdb,public,dl_table_alerts
tapdb,public,dlservices
tapdb,public,dual
tapdb,public,tbl_stat
tapdb,information_schema,_pg_foreign_data_wrappers
tapdb,information_schema,_pg_foreign_servers
tapdb,information_schema,_pg_foreign_table_columns
tapdb,information_schema,_pg_foreign_tables
tapdb,information_schema,_pg_user_mappings
tapdb,information_schema,administrable_role_authorizations
tapdb,information_schema,applicable_roles
tapdb,information_schema,attributes
tapdb,information_schema,character_sets
tapdb,information_schema,check_constraint_routine_usage
tapdb,information_schema,check_constraints
tapdb,information_schema,collation_character_set_applicability
tapdb,information_schema,collations
tapdb,information_schema,column_domain_usage
tapdb,information_schema,column_options
tapdb,information_schema,column_privileges
tapdb,information_schema,column_udt_usage
tapdb,information_schema,columns
tapdb,information_schema,constraint_column_usage
tapdb,information_schema,constraint_table_usage
tapdb,information_schema,data_type_privileges
tapdb,information_schema,domain_constraints
tapdb,information_schema,domain_udt_usage
tapdb,information_schema,domains
tapdb,information_schema,element_types
tapdb,information_schema,enabled_roles
tapdb,information_schema,foreign_data_wrapper_options
tapdb,information_schema,foreign_data_wrappers
tapdb,information_schema,foreign_server_options
tapdb,information_schema,foreign_servers
tapdb,information_schema,foreign_table_options
tapdb,information_schema,foreign_tables
tapdb,information_schema,information_schema_catalog_name
tapdb,information_schema,key_column_usage
tapdb,information_schema,parameters
tapdb,information_schema,referential_constraints
tapdb,information_schema,role_column_grants
tapdb,information_schema,role_routine_grants
tapdb,information_schema,role_table_grants
tapdb,information_schema,role_udt_grants
tapdb,information_schema,role_usage_grants
tapdb,information_schema,routine_privileges
tapdb,information_schema,routines
tapdb,information_schema,schemata
tapdb,information_schema,sequences
tapdb,information_schema,sql_features
tapdb,information_schema,sql_implementation_info
tapdb,information_schema,sql_languages
tapdb,information_schema,sql_packages
tapdb,information_schema,sql_parts
tapdb,information_schema,sql_sizing
tapdb,information_schema,sql_sizing_profiles
tapdb,information_schema,table_constraints
tapdb,information_schema,table_privileges
tapdb,information_schema,tables
tapdb,information_schema,transforms
tapdb,information_schema,triggered_update_columns
tapdb,information_schema,triggers
tapdb,information_schema,udt_privileges
tapdb,information_schema,usage_privileges
tapdb,information_schema,user_defined_types
tapdb,information_schema,user_mapping_options
tapdb,information_schema,user_mappings
tapdb,information_schema,view_column_usage
tapdb,information_schema,view_routine_usage
tapdb,information_schema,view_table_usage
tapdb,information_schema,views
tapdb,unwise_dr1,object
tapdb,phat_v2,phot_meas
tapdb,phat_v2,phot_mod
tapdb,phat_v2,phot_v2
tapdb,phat_v2,star_v2
tapdb,decaps_dr1,ccds
tapdb,decaps_dr1,depth
tapdb,decaps_dr1,imdb
tapdb,decaps_dr1,object
tapdb,decaps_dr1,zps
tapdb,dad_dr1,movds
tapdb,dad_dr1,movdup
tapdb,dad_dr1,movexp
tapdb,dad_dr1,movgrp
tapdb,dad_dr1,movmpc
tapdb,dad_dr1,movobs
tapdb,dad_dr1,movrate
tapdb,stripe82,allwise
tapdb,stripe82,des_dr1
tapdb,stripe82,gaia_dr1
tapdb,stripe82,gaia_dr2
tapdb,stripe82,ls_dr3
tapdb,stripe82,ls_dr5
tapdb,stripe82,ls_dr6
tapdb,stripe82,ls_dr7
tapdb,stripe82,nsc_dr1
tapdb,stripe82,sdss13_specobj
tapdb,stripe82,sdss14_specobj
tapdb,stripe82,splus_dr1
tapdb,stripe82,twomass_psc
tapdb,stripe82,twomass_xsc
tapdb,stripe82,usno_a2
tapdb,stripe82,usno_b1
tapdb,ivoa_calibrated,calibrated_all
tapdb,ivoa_calibrated,des_y1
tapdb,ivoa_calibrated,des_y2
tapdb,ivoa_calibrated,des_y3
tapdb,ivoa_calibrated,des_y4
tapdb,ivoa_calibrated,nsa
tapdb,ivoa_calibrated,smash_dr1
tapdb,ivoa_calibrated,smash_dr2
tapdb,ivoa_decaps_dr1,exposure
tapdb,ivoa_decaps_dr1,obscore
tapdb,ivoa_decaps_dr1,siav1
tapdb,ivoa_decaps_dr1,siav2
tapdb,ivoa_des_dr1,exposure
tapdb,ivoa_des_dr1,obscore
tapdb,ivoa_des_dr1,siav1
tapdb,ivoa_des_dr1,siav2
tapdb,ivoa_des_y1,exposure
tapdb,ivoa_des_y1,obscore
tapdb,ivoa_des_y1,siav1
tapdb,ivoa_des_y1,siav2
tapdb,ivoa_des_y2,exposure
tapdb,ivoa_des_y2,obscore
tapdb,ivoa_des_y2,siav1
tapdb,ivoa_des_y2,siav2
tapdb,ivoa_des_y3,exposure
tapdb,ivoa_des_y3,obscore
tapdb,ivoa_des_y3,siav1
tapdb,ivoa_des_y3,siav2
tapdb,ivoa_des_y4,exposure
tapdb,ivoa_des_y4,obscore
tapdb,ivoa_des_y4,siav1
tapdb,ivoa_des_y4,siav2
tapdb,ivoa_ls_dr3,exposure
tapdb,ivoa_ls_dr3,obscore
tapdb,ivoa_ls_dr3,siav1
tapdb,ivoa_ls_dr3,siav2
tapdb,ivoa_ls_dr4,exposure
tapdb,ivoa_ls_dr4,obscore
tapdb,ivoa_ls_dr4,siav1
tapdb,ivoa_ls_dr4,siav2
tapdb,ivoa_ls_dr5,exposure
tapdb,ivoa_ls_dr5,obscore
tapdb,ivoa_ls_dr5,siav1
tapdb,ivoa_ls_dr5,siav2
tapdb,ivoa_ls_dr6,exposure
tapdb,ivoa_ls_dr6,obscore
tapdb,ivoa_ls_dr6,siav1
tapdb,ivoa_ls_dr6,siav2
tapdb,ivoa_ls_dr7,exposure
tapdb,ivoa_ls_dr7,obscore
tapdb,ivoa_ls_dr7,siav1
tapdb,ivoa_ls_dr7,siav2
tapdb,ivoa_raw,raw_all
tapdb,ivoa_raw,smash_dr1
tapdb,ivoa_raw,smash_dr2
tapdb,ivoa_des_sva1,exposure
tapdb,ivoa_des_sva1,obscore
tapdb,ivoa_des_sva1,siav1
tapdb,ivoa_des_sva1,siav2
tapdb,des_sva1,gold_annz2_pdf
tapdb,des_sva1,gold_annz2_point
tapdb,des_sva1,gold_bpz_pdf
tapdb,des_sva1,gold_bpz_point
tapdb,des_sva1,gold_catalog
tapdb,des_sva1,gold_im3shape
tapdb,des_sva1,gold_ngmix
tapdb,des_sva1,gold_skynet_pdf
tapdb,des_sva1,gold_skynet_point
tapdb,des_sva1,gold_tpz_pdf
tapdb,des_sva1,gold_tpz_point
tapdb,des_sva1,gold_wlinfo
tapdb,des_sva1,redmagic_bright
tapdb,des_sva1,redmagic_faint
tapdb,des_sva1,redmapper_exp_area
tapdb,des_sva1,redmapper_exp_catalog
tapdb,des_sva1,redmapper_exp_members
tapdb,des_sva1,redmapper_exp_randoms
tapdb,des_sva1,redmapper_exp_zmask
tapdb,des_sva1,redmapper_pub_area
tapdb,des_sva1,redmapper_pub_catalog
tapdb,des_sva1,redmapper_pub_members
tapdb,des_sva1,redmapper_pub_randoms
tapdb,des_sva1,redmapper_pub_zmask
tapdb,sdss_dr13,calibobj_gal
tapdb,sdss_dr13,calibobj_star
tapdb,sdss_dr13,dr12qso
tapdb,sdss_dr13,emissionlinesport_dr12
tapdb,sdss_dr13,galspecline_dr8
tapdb,sdss_dr13,photoposplate
tapdb,sdss_dr13,specobj
tapdb,sdss_dr13,wisematch_gal
tapdb,sdss_dr13,wisematch_star
tapdb,nsc_dr1,chip
tapdb,nsc_dr1,coverage
tapdb,nsc_dr1,exposure
tapdb,nsc_dr1,meas
tapdb,nsc_dr1,nsc_allwise
tapdb,nsc_dr1,nsc_des
tapdb,nsc_dr1,nsc_lsdr4
tapdb,nsc_dr1,nsc_lsdr5
tapdb,nsc_dr1,object
tapdb,usno,a2
tapdb,usno,b1
tapdb,twomass,psc
tapdb,twomass,xsc
tapdb,splus_edr,allwise
tapdb,splus_edr,des_dr1
tapdb,splus_edr,gaia_dr2
tapdb,splus_edr,ls_dr5
tapdb,splus_edr,ls_dr6
tapdb,splus_edr,ls_dr7
tapdb,splus_edr,nsc_dr1
tapdb,splus_edr,sdss_dr14_specobj
tapdb,splus_edr,stripe82
tapdb,ivoa_ls_dr8,exposure
tapdb,ivoa_ls_dr8,obscore
tapdb,ivoa_ls_dr8,siav1
tapdb,ivoa_ls_dr8,siav2
tapdb,mydb,1_rxs_2491
tapdb,mydb,2mass1_2315
tapdb,mydb,2mass_2315
tapdb,mydb,80month_serendips_1616
tapdb,mydb,ABC_test_1549
tapdb,mydb,AB_test_1549
tapdb,mydb,ABtest_1549
tapdb,mydb,Atest_1549
tapdb,mydb,Companion_2659
tapdb,mydb,Ctest_1549
tapdb,mydb,DESI_BGS_2649
tapdb,mydb,FIRST_2561
tapdb,mydb,GaiaDR2SDSS_WD2_1305
tapdb,mydb,GaiaDR2SDSS_WD_1305
tapdb,mydb,GaiaDR2_WD_1305
tapdb,mydb,HADOT_LS_DR8_2861
tapdb,mydb,Matched_zgt5_quasars_Decam_legacy_2843
tapdb,mydb,NSCdr2wd_1305
tapdb,mydb,SDSSDR16_Firefly_2649
tapdb,mydb,SDSS_DR16_PhotSpec_r_2649
tapdb,mydb,SDSS_EmLines_t1_2543
tapdb,mydb,SDSS_EmLines_t1_2649
tapdb,mydb,SDSS_EmLines_t3_2649
tapdb,mydb,SDSS_EmLines_t4_2649
tapdb,mydb,SDSS_EmLines_t5_2649
tapdb,mydb,SDSS_EmLines_t6_2649
tapdb,mydb,SDSS_EmLines_t8_2649
tapdb,mydb,SDSS_EmissionLines_2649
tapdb,mydb,SDSS_EmissionLines_EW_2649
tapdb,mydb,SpecPhot_DR16_FireFly_DR14_r1_2649
tapdb,mydb,SpecPhot_DR16_FireFly_DR14_r2_2649
tapdb,mydb,a3827vel_2693
tapdb,mydb,acbastal_1549
tapdb,mydb,all_nsc_wds_1305
tapdb,mydb,arjun_1007
tapdb,mydb,asdf_2789
tapdb,mydb,cruce_bajo_snr_unwise_2789
tapdb,mydb,delme1164_2544
tapdb,mydb,delme_1549
tapdb,mydb,des_bds_1177
tapdb,mydb,e835_2566
tapdb,mydb,e861_decaps_2566
tapdb,mydb,final_test_1005
tapdb,mydb,gals_2730
tapdb,mydb,legacy_coords_2299
tapdb,mydb,legacy_s_2299
tapdb,mydb,mag-all_2480
tapdb,mydb,mags-renamed_1722
tapdb,mydb,ngcc_2740
tapdb,mydb,nsc2_214_1013
tapdb,mydb,objects6a_2118
tapdb,mydb,out_lsdr6_1191
tapdb,mydb,p172sys2_1757
tapdb,mydb,p172sys3_1757
tapdb,mydb,p172sys_1757
tapdb,mydb,p172system_1757
tapdb,mydb,robe_2315
tapdb,mydb,sdss_new2_2299
tapdb,mydb,shellqs_2843
tapdb,mydb,sjw2_2731
tapdb,mydb,sn1_inf_dr2_blend_large_2789
tapdb,mydb,spt_49_ifrs_2480
tapdb,mydb,test1_2730
tapdb,mydb,test255_1549
tapdb,mydb,test2gaiaWD_1013
tapdb,mydb,test_gaiaWD_1013
tapdb,mydb,virgo_1005
tapdb,ls_dr3,apflux
tapdb,ls_dr3,bricks
tapdb,ls_dr3,bricks_dr3
tapdb,ls_dr3,ccds_annotated
tapdb,ls_dr3,depth
tapdb,ls_dr3,depth_summary
tapdb,ls_dr3,dr3_dr12q
tapdb,ls_dr3,dr3_dr7q
tapdb,ls_dr3,dr3_specobj_dr13
tapdb,ls_dr3,dr3_superset_dr12q
tapdb,ls_dr3,galaxy
tapdb,ls_dr3,neighbors
tapdb,ls_dr3,star
tapdb,ls_dr3,survey_ccds
tapdb,ls_dr3,tractor
tapdb,ls_dr3,tractor_primary
tapdb,ls_dr3,tractor_secondary
tapdb,ls_dr3,wise
tapdb,dad_dr2,addgrp
tapdb,dad_dr2,addobs
tapdb,dad_dr2,movds
tapdb,dad_dr2,movdup
tapdb,dad_dr2,movexp
tapdb,dad_dr2,movgrp
tapdb,dad_dr2,movmpc
tapdb,dad_dr2,movobs
tapdb,dad_dr2,movrate
tapdb,ivoa_smash_dr2,exposure
tapdb,ivoa_smash_dr2,obscore
tapdb,ivoa_smash_dr2,siav1
tapdb,ivoa_smash_dr2,siav2
tapdb,allwise,source
tapdb,gaia_dr2,allwise
tapdb,gaia_dr2,cepheid
tapdb,gaia_dr2,des_dr1
tapdb,gaia_dr2,gaia_source
tapdb,gaia_dr2,iers
tapdb,gaia_dr2,light_curves
tapdb,gaia_dr2,lpv
tapdb,gaia_dr2,ls_dr5
tapdb,gaia_dr2,ls_dr6
tapdb,gaia_dr2,nsc_dr1
tapdb,gaia_dr2,numtrans
tapdb,gaia_dr2,rm
tapdb,gaia_dr2,rmout
tapdb,gaia_dr2,rmseg
tapdb,gaia_dr2,rrlyrae
tapdb,gaia_dr2,rvstdcat
tapdb,gaia_dr2,rvstdmes
tapdb,gaia_dr2,shortts
tapdb,gaia_dr2,ssoobj
tapdb,gaia_dr2,ssoobs
tapdb,gaia_dr2,ssoorb
tapdb,gaia_dr2,ssores
tapdb,gaia_dr2,transit
tapdb,gaia_dr2,tsstat
tapdb,gaia_dr2,varres
tapdb,ivoa_nsa,exposure
tapdb,ivoa_nsa,obscore
tapdb,ivoa_nsa,siav1
tapdb,ivoa_nsa,siav2
tapdb,ivoa_stripe82,calibrated
tapdb,ivoa_stripe82,coadd
tapdb,ivoa_stripe82,decaps_dr1
tapdb,ivoa_stripe82,des_dr1
tapdb,ivoa_stripe82,des_sva1
tapdb,ivoa_stripe82,des_y1
tapdb,ivoa_stripe82,des_y2
tapdb,ivoa_stripe82,des_y3
tapdb,ivoa_stripe82,des_y4
tapdb,ivoa_stripe82,ls_dr3
tapdb,ivoa_stripe82,ls_dr5
tapdb,ivoa_stripe82,ls_dr6
tapdb,ivoa_stripe82,ls_dr7
tapdb,ivoa_stripe82,ls_dr8
tapdb,ivoa_stripe82,nsa
tapdb,ivoa_stripe82,raw
tapdb,ivoa_stripe82,smash_dr1
tapdb,ivoa_stripe82,smash_dr2
tapdb,ivoa_stripe82,splus_dr1
tapdb,ivoa_stripe82,splus_edr
tapdb,ivoa_stripe82,stripe82_all
tapdb,ls_dr4,apflux
tapdb,ls_dr4,bricks
tapdb,ls_dr4,bricks_dr4
tapdb,ls_dr4,ccds_annotated
tapdb,ls_dr4,depth
tapdb,ls_dr4,depth_summary
tapdb,ls_dr4,galaxy
tapdb,ls_dr4,neighbors
tapdb,ls_dr4,star
tapdb,ls_dr4,survey_ccds
tapdb,ls_dr4,tractor
tapdb,ls_dr4,tractor_primary
tapdb,ls_dr4,tractor_secondary
tapdb,ls_dr4,wise
tapdb,ls_dr5,apflux
tapdb,ls_dr5,bricks
tapdb,ls_dr5,bricks_dr5
tapdb,ls_dr5,ccds_annotated
tapdb,ls_dr5,depth
tapdb,ls_dr5,depth_summary
tapdb,ls_dr5,dr5_dr12q
tapdb,ls_dr5,dr5_dr7q
tapdb,ls_dr5,dr5_specobj_dr14
tapdb,ls_dr5,dr5_superset_dr12q
tapdb,ls_dr5,galaxy
tapdb,ls_dr5,neighbors
tapdb,ls_dr5,star
tapdb,ls_dr5,survey_ccds
tapdb,ls_dr5,tractor
tapdb,ls_dr5,tractor_primary
tapdb,ls_dr5,tractor_secondary
tapdb,ls_dr5,wise
tapdb,ls_dr6,apflux
tapdb,ls_dr6,bricks
tapdb,ls_dr6,bricks_dr6
tapdb,ls_dr6,ccds_annotated
tapdb,ls_dr6,depth
tapdb,ls_dr6,depth_summary
tapdb,ls_dr6,dr6_dr14q_v4_4
tapdb,ls_dr6,dr6_dr7q
tapdb,ls_dr6,dr6_specobj_dr14
tapdb,ls_dr6,dr6_superset_dr12q
tapdb,ls_dr6,galaxy
tapdb,ls_dr6,star
tapdb,ls_dr6,survey_ccds
tapdb,ls_dr6,survey_ccds_kd
tapdb,ls_dr6,tractor
tapdb,ls_dr6,tractor_primary
tapdb,ls_dr6,tractor_secondary
tapdb,ls_dr6,wise
tapdb,ls_dr7,apflux
tapdb,ls_dr7,bricks
tapdb,ls_dr7,bricks_dr7
tapdb,ls_dr7,ccds_annotated
tapdb,ls_dr7,depth
tapdb,ls_dr7,depth_summary
tapdb,ls_dr7,dr7_dr12q
tapdb,ls_dr7,dr7_dr14q_v4_4
tapdb,ls_dr7,dr7_dr7q
tapdb,ls_dr7,dr7_specobj_dr14
tapdb,ls_dr7,dr7_superset_dr12q
tapdb,ls_dr7,galaxy
tapdb,ls_dr7,neighbors
tapdb,ls_dr7,randoms_dr7
tapdb,ls_dr7,star
tapdb,ls_dr7,survey_ccds
tapdb,ls_dr7,survey_ccds_kd
tapdb,ls_dr7,tractor
tapdb,ls_dr7,tractor_primary
tapdb,ls_dr7,tractor_secondary
tapdb,ls_dr7,wise
tapdb,ls_dr7,x_sdss_dr14_specobj_1p5
tapdb,splus_dr1,allwise
tapdb,splus_dr1,des_dr1
tapdb,splus_dr1,gaia_dr2
tapdb,splus_dr1,ls_dr5
tapdb,splus_dr1,ls_dr6
tapdb,splus_dr1,ls_dr7
tapdb,splus_dr1,nsc_dr1
tapdb,splus_dr1,sdss_dr14_specobj
tapdb,splus_dr1,stripe82
tapdb,hipparcos,main
tapdb,hipparcos2,main
tapdb,tycho2,main
tapdb,oracle,dba_segments
tapdb,oracle,product_component_version
tapdb,oracle,user_cons_columns
tapdb,oracle,user_constraints
tapdb,oracle,user_ind_columns
tapdb,oracle,user_objects
tapdb,oracle,user_procedures
tapdb,oracle,user_source
tapdb,oracle,user_tab_columns
tapdb,oracle,user_tables
tapdb,oracle,user_views
tapdb,dbms_pipe,db_pipes
tapdb,utl_file,utl_file_dir
tapdb,ivoa_coadd,coadd_all
tapdb,ivoa_coadd,decaps_dr1
tapdb,ivoa_coadd,des_dr1
tapdb,ivoa_coadd,des_sva1
tapdb,ivoa_coadd,ls_dr3
tapdb,ivoa_coadd,ls_dr4
tapdb,ivoa_coadd,ls_dr5
tapdb,ivoa_coadd,ls_dr6
tapdb,ivoa_coadd,ls_dr7
tapdb,ivoa_coadd,ls_dr8
tapdb,ivoa_coadd,smash_dr1
tapdb,ivoa_coadd,smash_dr2
tapdb,ivoa_coadd,splus_dr1
tapdb,skymapper_dr1,master
tapdb,smash_dr2,chip
tapdb,smash_dr2,deep
tapdb,smash_dr2,exposure
tapdb,smash_dr2,field
tapdb,smash_dr2,object
tapdb,smash_dr2,source
tapdb,smash_dr2,xmatch
tapdb,ivoa_smash_dr1,exposure
tapdb,ivoa_smash_dr1,obscore
tapdb,ivoa_smash_dr1,siav1
tapdb,ivoa_smash_dr1,siav2
tapdb,ivoa_splus_edr,exposure
tapdb,ivoa_splus_edr,obscore
tapdb,ivoa_splus_edr,siav1
tapdb,ivoa_splus_edr,siav2
tapdb,bulge_dr1,exposure
tapdb,bulge_dr1,meas
tapdb,bulge_dr1,object
tapdb,ls_dr9sv,apflux_n
tapdb,ls_dr9sv,apflux_s
tapdb,ls_dr9sv,neighbors_n
tapdb,ls_dr9sv,neighbors_s
tapdb,ls_dr9sv,tractor_n
tapdb,ls_dr9sv,tractor_primary_n
tapdb,ls_dr9sv,tractor_primary_s
tapdb,ls_dr9sv,tractor_s
tapdb,ls_dr9sv,tractor_secondary_n
tapdb,ls_dr9sv,tractor_secondary_s
tapdb,ls_dr9sv,wise_n
tapdb,ls_dr9sv,wise_s
tapdb,tap_schema,columns
tapdb,tap_schema,columns_datalab
tapdb,tap_schema,columns_mydb
tapdb,tap_schema,foreign_tables
tapdb,tap_schema,key_columns
tapdb,tap_schema,key_columns_datalab
tapdb,tap_schema,key_columns_mydb
tapdb,tap_schema,keys
tapdb,tap_schema,keys_datalab
tapdb,tap_schema,keys_mydb
tapdb,tap_schema,schemas
tapdb,tap_schema,schemas_datalab
tapdb,tap_schema,schemas_mydb
tapdb,tap_schema,tables
tapdb,tap_schema,tables_datalab
tapdb,tap_schema,tables_mydb
tapdb,dltest,object
tapdb,ivoa_splus_dr1,exposure
tapdb,ivoa_splus_dr1,obscore
tapdb,ivoa_splus_dr1,siav1
tapdb,ivoa_splus_dr1,siav2
tapdb,gaia_dr1,cepheid
tapdb,gaia_dr1,gaia_source
tapdb,gaia_dr1,phot_variable_time_series_gfov
tapdb,gaia_dr1,phot_variable_time_series_gfov_statistical_parameters
tapdb,gaia_dr1,rrlyrae
tapdb,gaia_dr1,tgas_source
tapdb,gaia_dr1,variable_summary
tapdb,ls_dr8,apflux
tapdb,ls_dr8,apflux_n
tapdb,ls_dr8,apflux_s
tapdb,ls_dr8,bricks_n
tapdb,ls_dr8,bricks_s
tapdb,ls_dr8,ccds_annotated
tapdb,ls_dr8,depth_n
tapdb,ls_dr8,depth_s
tapdb,ls_dr8,depth_summary_n
tapdb,ls_dr8,depth_summary_s
tapdb,ls_dr8,dr8_north_dr12q
tapdb,ls_dr8,dr8_north_dr14q_v4_4
tapdb,ls_dr8,dr8_north_dr7q
tapdb,ls_dr8,dr8_north_specobj_dr14
tapdb,ls_dr8,dr8_north_superset_dr12q
tapdb,ls_dr8,dr8_south_dr12q
tapdb,ls_dr8,dr8_south_dr14q_v4_4
tapdb,ls_dr8,dr8_south_dr7q
tapdb,ls_dr8,dr8_south_specobj_dr14
tapdb,ls_dr8,dr8_south_superset_dr12q
tapdb,ls_dr8,forced